# Ignore node_modules in both frontend and backend
**/node_modules/

# Ignore environment variables
.env
.env.local

# Ignore Next.js build folder
frontend/.next/

# Ignore backend build artifacts
backend/dist/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore npm/yarn cache
.npm
.yarn
yarn-error.log

# Ignore dependency directories
jspm_packages/

# Ignore TypeScript output
*.tsbuildinfo